[run]
branch = True
source = sms_toolkit

[report]
fail_under = 85
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    sms_toolkit/vobject
    tests/*